html{font-family: 'Song Myung', serif; 
     box-sizing: border-box; 
     scroll-behavior: smooth;}
body,section,h1,h2,p,div,ul,li,nav{margin: 0;}
nav{height: 40px;
    background: #ff4881;
    position: fixed;
    width: 100%;
    margin: 0;}
	    nav ul li{list-style-type: none; 
	    	      width: 20%; height: 40px; 
	    	      text-align: center; 
	    	      line-height: 40px; 
	    	      float: left;}
	    nav ul li a{display: block; 
	    	        background: #ff4881; 
	    	        color: white;
	                box-shadow: none; 
	                font-weight: 350;
	                font-size: 1em;
	                text-decoration: none;}
	    nav ul li a:hover{background: #ffb6cd;
		                  color: black;}
header{height: 800px;}	
img{display: block;width: 100%;
    margin-bottom: 70px;margin-top: 70px;}

.bg-1{height: 750px; 
	  background: url('../img/img1.gif');
	  background-size: 100%; 
	  background-attachment: fixed;}
.bg-2{height: 750px; 
	  background: url('../img/img2.jpg');
	  background-size: 100%; 
	  background-attachment: fixed;}
.bg-3{background: #ffd7d7;}
.bg-4{background: #ffa9f3;}
.bg-5{background: #a9ffff;}
.bg-6{background: #fffdc2;}
.bg-7{background: #ffd2d2;}

.h1{color: black;
    padding-top: 250px;
    text-align: center;
    line-height: 60px;
    font-weight: 800;}

.mar1{margin-bottom: 0;}
.mar2{padding-bottom: 250px;}

.img1{width: 30%; height: 30%;}
.img2{width: 80%; height: 80%;}
.img3{width: 60%; height: 60%;}

.footer{text-align: center; 
	    font-weight: 400; 
	    margin-bottom: 100px;
	    margin-top: 100px;}


